/* nullify styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* main variables */
:root {
    --gallery-gap: 10px;
    --column-number: 4;
}

/* page styles */
.form-container {
    background-color: rgb(78, 75, 253);
    padding-top: 15px;
    padding-bottom: 15px;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    opacity: 0.8;
}

.search-form {
    display: inline-block;
    position: relative;

    margin-left: 50%;
    transform: translateX(-50%);
}

.search-form input {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 20px;

    border: none;
    outline: none;
    border-radius: 10px;
}

.search-form button {
    position: absolute;
    top: 0;
    right: 0;

    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    
    font-size: 20px;
    
    border: 1px solid rgb(168, 166, 166);
    outline: none;
    border-radius: 10px;
} 

.ico {
    display: block;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gallery-gap);

    margin-right: 15px;
    margin-left: 15px;
    margin-top: 72px;
    margin-bottom: 25px;
}

.photo-card {
    width: calc( (100% + var(--gallery-gap)) / var(--column-number) - var(--gallery-gap));

    border: 1px solid rgb(148, 145, 145);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
    
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.photo-card img {
    width: 100%;
    min-height: 200px;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 12px;
    text-align: center;

    flex-grow: 1;
}

.info-item {
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: space-evenly;
}