/* nullify styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

/* main variables */
:root {
    /* --main-text-color: black; */

    --gallery-gap: 10px;
    --column-number: 4;
}


.form-container {
    background-color: rgb(78, 75, 253);
    padding-top: 15px;
    padding-bottom: 15px;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
}





.search-form {
    /* background-color: rgb(78, 75, 253);
    padding-top: 15px;
    padding-bottom: 15px;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%; */

    display: inline-block;
    position: relative;

    margin-left: 50%;
    transform: translateX(-50%);
}

.search-form input {
    /* background-color: aqua; */
    /* margin-left: 50%;
    transform: translateX(-50%); */

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 20px;

    border: none;
    outline: none;
    border-radius: 10px;
}

.search-form button {
    /* margin-right: auto; */

    /* position: absolute;
    top: 0;
    left: 0; */
    position: absolute;
    top: 0;
    right: 0;

    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    
    font-size: 20px;

    /* background-color: #fff; */
    
    border: 1px solid rgb(168, 166, 166);
    /* border: 1px solid rgb(255, 255, 255); */
    outline: none;
    border-radius: 10px;
} 

.img {
    display: block;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gallery-gap);

    margin-right: 15px;
    margin-left: 15px;
    margin-top: 75px;
    margin-bottom: 25px;
}

.photo-card {
    width: calc( (100% + var(--gallery-gap)) / var(--column-number) - var(--gallery-gap));
    min-height: 300px;
    /* height: 300px; */

    border: 1px solid rgb(148, 145, 145);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
    
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.photo-card img {
    width: 100%; 
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 12px;
    text-align: center;

    flex-grow: 1;
}

.info-item {
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: space-evenly;
}